*{
	margin: 0px;
	padding: 0px;
}
.body{
	margin: 0px;
	padding: 0px;
overflow: none;
}
.top{
	width: 100%;
	clear: both;

}
.top25{
	width: 100%;
	float: left;
	clear: both;
	border: 1px solid transparent;
}
.fa-solid{
	padding: 15px;
}
.fa-solid:hover{
	background-color: lightgrey;
	border-radius: 18px;
	opacity: 0.5;
}
.i{
	float: left;
	margin-top: 7px;
}
.img{
	float: left;
	margin-top: 15px;
	margin-left: 8px;
}
img{
	width: 109px;
}
.searchcombobox{
	float:left;
	width: 80%;
	clear: left;
	margin-left: 20%;
	margin-top: -54px;	
}
.searchbox{
	width: 1000px;
	padding: 15px;
	margin-top: 6px;
	margin-bottom: 9px;
	border-radius: 7px;
	border: 0.1px solid lightgrey;
	border-shadow: 0px 0px 8px white;
	outline: transparent;
	text-indent: 20px;
	text-color:black;
	box-sizing: border-box;
	text-size: 10px;
	text-color: black;
	font-color: black;
	background-image: url(../assets/images/search.png),url(../assets/images/searchright.png);
	background-size: 41px, 30px;
	background-position-x: 2px,952px;
	background-position-y: 10px,9px;
	background-repeat: no-repeat,no-repeat;
}
.searchbox:hover{
	background-color: lightgrey;
	border-radius: 18px;
	opacity: 0.5;
}
.support{
	width: 31px;
	float: left;
	clear: both;
	margin-left: 86%;
	margin-top: -46px;	
}
.im1{
	width: 30px;
}
.support:hover{
	background-color: grey;
	border-radius: 20px;
	opacity: 0.2;
	
}
.setting{
	width: 32px;
	float: left;
	clear: both;
	margin-left: 89%;
	margin-top: -44px;	
}
.im2{
	width: 30px;
}

.menu-right{
	width: 32px;
	float: left;
	clear: both;
	margin-left: 92%;
	margin-top: -44px;	
}
.im3{
	width: 30px;
}

.profile{
	width: 32px;
	float: left;
	clear: both;
	margin-left: 96%;
	margin-top: -49px;	
}
.im4{
	width: 35px;
}



.left{
width: 20%;
float: left;
clear: both;
border: 1px solid black;
background-color: ;
}
.circle{
width: 162px;
height: 64px;
border-radius: 38px;
background-color: white;
padding: 0px;
margin-top: 22px;
margin-bottom: 22px;
margin-left: 13px;
box-shadow: 0px 0px 3px grey;
}

div[class="compose"]{
	background-image: url(../assets/images/plus.png);
	background-repeat: no-repeat;
	background-size: 41px;
	background-position: 5px 14px;
	padding: 23px;
}
.spa{
margin-left: 14px;
padding: 10px;
font-size: 18px;
font-family : Arial;
}
.circle:hover{
box-shadow: 0px 0px 5px black;
}
.block1{
	float: left;
	clear: both;
	border: 1px solid transparent;
	width: 319px;
	height: 34px;
	background-image: url(../assets/images/inbox.png);
	background-repeat: no-repeat;
	background-size: 35px;
	background-position: 15px 4px;
	background-color: #fce8e6;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 0px 0px 3px grey;
	outline: transparent;
	color: red;
}
.a1{
	margin-left: 71px;
	font-size: 29px;
	vertical-align: 10px 0px;
	opacity: 0.5;
	font-family: arial;
}
.a2{
	margin-left: 113px;
	margin-left: 144px;
	text-align: right;
}




.block2{
	float: left;
	clear: both;
	border: 1px solid transparent;
	width: 319px;
	height: 34px;
	background-image: url(../assets/images/sent.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 22px 4px;
	background-color: white;
	outline: transparent;
	color: black;
}
.block2:hover{
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 0px 0px 3px grey;
	background-color: #c8c8c9;
}
.b1{
	margin-left: 71px;
	font-size: 29px;
	vertical-align: 10px 0px;
	opacity: 0.5;
	font-family: arial;
}



.block3{
	float: left;
	clear: both;
	border: 1px solid transparent;
	width: 319px;
	height: 34px;
	background-image: url(../assets/images/draft.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 22px 4px;
	background-color: white;
	outline: transparent;
	color: black;
}
.block3:hover{
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 0px 0px 3px grey;
	background-color: #c8c8c9;
}
.c1{
	margin-left: 71px;
	font-size: 29px;
	vertical-align: 10px 0px;
	opacity: 0.5;
	font-family: arial;
}


.block4{
	float: left;
	clear: both;
	border: 1px solid transparent;
	width: 319px;
	height: 34px;
	background-image: url(../assets/images/star.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 22px 4px;
	background-color: white;
	outline: transparent;
	color: black;
}
.block4:hover{
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 0px 0px 3px grey;
	background-color: #c8c8c9;
}
.d1{
	margin-left: 71px;
	font-size: 29px;
	vertical-align: 10px 0px;
	opacity: 0.5;
	font-family: arial;
}



.block5{
	float: left;
	clear: both;
	border: 1px solid transparent;
	width: 319px;
	height: 34px;
	background-image: url(../assets/images/snooze.png);
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: 22px 4px;
	background-color: white;
	outline: transparent;
	color: black;
}
.block5:hover{
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	box-shadow: 0px 0px 3px grey;
	background-color: #c8c8c9;
}
.e1{
	margin-left: 71px;
	font-size: 29px;
	vertical-align: 10px 0px;
	opacity: 0.5;
	font-family: arial;
}