img,
svg {
    vertical-align: middle;
    height: 48px;
    width: 63px;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}


input {
    width: 100%;
    border: 1px solid transparent;
    box-shadow: 0px 0px 1px grey;
    padding: 2px 0px;
    outline: transparent;
    text-indent: 17px;
    position: relative;
}

.fourr {
    font-size: 9px;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.under {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 40px;
    right: 12px;
    color: #000;
}

.under1 {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 40px;
    right: 9px;
    color: #000;
}

.under2 {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 40px;
    right: 18px;
    color: #000;
}

.fa-user,
.fa-heart,
.fa-bag-shopping {
    position: relative;
}

.input1 {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    top: 13px;
    left: 15px;
}

.roww {

    display: none !important;

}

.badgee {
    position: relative;
    top: -23px;
    left: 7px;
    font-size: 11px;
    border-radius: 2px;
    padding: 2px 2px
}

.badgee1 {
    color: #03a685;
    font-size: 8px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    position: relative;
    top: -38px;
    height: 70px;
}





div #hovermen:hover .roww {
    display: flex !important;
    position: fixed;
    top: 83px;
    left: 50px;
    z-index: 1;
    background-color: white;

    box-shadow: 0px 0px 4px grey;

}


div .hovermenn:hover .roww {
    display: flex !important;
    position: fixed;
    top: 83px;
    left: 50px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 4px grey;

}

div .hovermenn3:hover .roww {
    display: flex !important;
    position: fixed;
    top: 83px;
    left: 50px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 4px grey;

}

div .hovermenn4:hover .roww {
    display: flex !important;
    position: fixed;
    top: 83px;
    left: 50px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 4px grey;

}

div .hovermenn5:hover .roww {
    display: flex !important;
    position: fixed;
    top: 83px;
    left: 50px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 4px grey;

}

div .hovermenn6:hover .roww {
    display: flex !important;
    position: fixed;
    top: 83px;
    left: 50px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 4px grey;

}

/* div .hovermenn1:hover .roww {
    display: flex !important;
    position: fixed;
    top: 80px;
    left: 50px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 4px grey;

} */


div #hovermen:hover body {
    background-color: grey !important;

}

.inspiration {
    text-align: center;
}

.sudio {
    width: 500px;
    height: 230px;
}

.home {
    font-size: 14px;
    opacity: 0.7;
    text-transform: capitalize;
}

.hrithi {
    font-size: 12px;
    font-weight: 500;
}

.heading {

    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
}

.hrithik11,
.hrithik12 {
    width: 363px;
    height: 406px
}

.hoverzoom:hover {
    transition: all .3s linear;
}

.star {
    color: green;
    font-size: 10px;

}

.incl {
    font-size: 14px;
}

.size {
    font-size: 12px;
}

.circle {
    border-radius: 50%;
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0px 0px 3px black;
    padding: 15px 16px;
    width: 78px;
    height: 25px;
}

.circle:hover {
    box-shadow: 0px 0px 3px white;
    border: 1px solid red;
}

.circlee {
    border-radius: 50%;
    border: 1px solid transparent;
    outline: none;
    box-shadow: 0px 0px 3px black;
    padding: 15px 13px;
    width: 78px;
    height: 25px;
}

.circlee:hover {
    box-shadow: 0px 0px 3px white;
    border: 1px solid red;
}

.cir {
    position: relative;
}

.sp {
    position: absolute;
    top: 0px;
    left: 42px;

}



.check {
    position: relative;
    top: 10px;
    right: 50px;
    font-size: 13px;
}

.pin {
    font-size: 13px;
}

.mainimg {
    overflow: hidden;
}

.mainimg img {
    transition: all 1.0s ease;
    cursor: zoom-in
}

.mainimg:hover img {
    transform: scale(1.1);
}

.plan {
    font-size: 12px;
}

.emi {
    font-size: 14px;
}

.liemi {
    font-size: 14px;
    font-family: sans-serif;
}

.prod {
    font-size: 16px;
}

.season {
    font-size: 16px;
    font-family: sans-serif;
}

.see {
    font-size: 12px;
}

.four {
    font-size: 48px;
}

.st {
    color: green;
    font-size: 22px;
}

#myProgress {
    width: 100%;
    background-color: #f5f5f6;
}

#myBar {
    width: 50%;
    height: 4px;
    background-color: green;
}

.st1 {
    position: absolute;
    top: 8px;
    left: 5px;
    font-size: 9px;
    opacity: 0.5;
}

.pos {
    position: relative;

}

.progresss {
    position: absolute;
    top: -4px;
    left: 28px;
}

.five {
    opacity: 0.5;
}

.number {
    position: absolute;
    top: 4px;
    left: 193px;
    font-size: 11px;
    opacity: 0.5;
}

.font {
    font-size: 14px;
}

.ottf {
    width: 85px;
    height: 87px;
}

.fvs {
    font-size: 10px;
}

.inde {
    text-indent: 10px;
}

.spann {
    position: relative;
}

.spannn {


    background-color: green;
    font-size: 11px;
}

.fivee {
    width: 85px;
    height: 87px;
}

.c1 {

    height: 250px;
}

.cs {
    width: 13rem;
}

.off {
    font-size: 13px;
}

.more-button {
    border-radius: 50px;
    border: 1px solid transparent;
    height: 55px;
    width: 373px;
    font-size: 14px;
    background-color: white;
    box-shadow: 0px 0px 2px black;
}

.more-button:hover {
    border: 1.5px solid red;
    box-shadow: 0px 0px 0px white;
}


.more-button-1 {
    border-radius: 50px;
    border: 1px solid transparent;
    height: 55px;
    width: 191px;
    font-size: 14px;
    background-color: white;
    box-shadow: 0px 0px 2px black;
}

.more-button-1:hover {
    border: 1.5px solid red;
    box-shadow: 0px 0px 0px white;
}

.more-button-2 {
    border-radius: 50px;
    border: 1px solid transparent;
    height: 55px;
    width: 173px;
    font-size: 14px;
    background-color: white;
    box-shadow: 0px 0px 2px black;
}

.more-button-2:hover {
    border: 1.5px solid red;
    box-shadow: 0px 0px 0px white;
}

.im1 {
    width: 103px;
    height: 38px;
}

.exp {
    font-size: 11px;
}

.im2 {
    width: 30px;
    height: 28px;
}

.o2 {
    width: 51px;
}

.achormen {
    color: black;

}

.anchormen:hover {
    padding-bottom: 30px;
    padding-right: 8px;
    padding-left: 8px;
    border-bottom: 4px solid red;
}

.anchormen1:hover {
    padding-bottom: 30px;
    padding-right: 8px;
    padding-left: 8px;
    border-bottom: 4px solid orange;
}

.anchormen2:hover {
    padding-bottom: 30px;
    padding-right: 8px;
    padding-left: 8px;
    border-bottom: 4px solid magenta;
}

.anchormen3:hover {
    padding-bottom: 30px;
    padding-right: 8px;
    padding-left: 8px;
    border-bottom: 4px solid yellow;
}

.anchormen4:hover {
    padding-bottom: 30px;
    padding-right: 8px;
    padding-left: 8px;
    border-bottom: 4px solid blueviolet;
}

.anchormen5:hover {
    padding-bottom: 30px;
    padding-right: 8px;
    padding-left: 8px;
    border-bottom: 4px solid red;
}

.checkk {
    position: relative;
}

button.btn.btnn.btn-lg.px-3.py-3.mr-3.ms-4.mx-2.btn-danger {
    font-size: 15px;
}

button.btn.btnn.btn-lg.px-4.py-3.mr-3.mx-2.btn-light.border {
    font-size: 15px;
}

button.btn.btnn.btn-sm.px-5.py-3.mr-3.ms-4.mx-2.btn-danger {
    background-color: #ff3e6c;
}

.pp {
    height: 6px;
    border-radius: 0px;
    width: 70%;
}

.pp1 {
    height: 6px;
    border-radius: 0px;
    width: 20%;
}

.pp2 {
    height: 6px;
    border-radius: 0px;
    width: 8%;
}

.pp3 {
    height: 6px;
    border-radius: 0px;
    width: 2%;
}

.pp4 {
    height: 6px;
    border-radius: 0px;
    width: 6%;
}

.ph {
    height: 6px;
}

.progress {
    display: flex;
    height: 0.3rem !important;
    width: 10.5rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 0rem;
    position: absolute;
    left: 25px;
    bottom: 8px;
}

.ppp {
    position: relative;
    top: -8px;
    /* right: 6px; */
    left: 0px;
}

.ppp1 {
    position: relative;
    top: -26px;
    left: 165px;
}

.pppp {
    position: relative;
    top: 0px;
    /* right: 6px; */
    left: 40px;
}

.pppp1 {
    position: relative;
    top: -18px;
    left: 207px;
}

.spaa1 {
    border: 1px solid transparent;
    background-color: #03a685;
    font-size: 11px;
    color: white;
    position: relative;
    top: 25px;
    left: -29px;

}

.spaaa1 {
    font-size: 8px;
}




/* @media only screen and (max-width:1000px) {
    .anchormen:hover {
        padding-bottom: 2px;
        padding-right: 8px;
        padding-left: 8px;
        border-bottom: 4px solid red;
    }

    div #hovermen:hover .roww {
        display: flex !important;
        position: fixed;
        top: 83px;
        left: 38px;
        z-index: 1;
        background-color: white;
        font-size: 10px;
        box-shadow: 0px 0px 4px grey;

    }

    .anchormen1:hover {
        padding-bottom: 2px;
        padding-right: 8px;
        padding-left: 8px;
        border-bottom: 4px solid orange;
    }

    div .hovermenn:hover .roww {
        display: flex !important;
        position: fixed;
        top: 103px;
        left: 37px;
        z-index: 1;
        background-color: white;
        box-shadow: 0px 0px 4px grey;
        font-size: 10px;
    }

    .anchormen3:hover {
        padding-bottom: 1px;
        padding-right: 8px;
        padding-left: 8px;
        border-bottom: 4px solid yellow;
    }

    div .hovermenn3:hover .roww {
        display: flex !important;
        position: fixed;
        top: 125px;
        left: 37px;
        z-index: 1;
        background-color: white;
        box-shadow: 0px 0px 4px grey;
        font-size: 10px;
    }

    .anchormen4:hover {
        padding-bottom: 2px;
        padding-right: 8px;
        padding-left: 8px;
        border-bottom: 4px solid blueviolet;
    }

    div .hovermenn4:hover .roww {
        display: flex !important;
        position: fixed;
        top: 145px;
        left: 37px;
        z-index: 1;
        background-color: white;
        box-shadow: 0px 0px 4px grey;
        font-size: 10px;
    }

    .anchormen5:hover {
        padding-bottom: 2px;
        padding-right: 8px;
        padding-left: 8px;
        border-bottom: 4px solid blueviolet;
    }

    div .hovermenn5:hover .roww {
        display: flex !important;
        position: fixed;
        top: 165px;
        left: 37px;
        z-index: 1;
        background-color: white;
        box-shadow: 0px 0px 4px grey;
        font-size: 10px;
    } */
/* } */
.anchormen5:hover {
    padding-bottom: 29px;
    padding-right: 8px;
    padding-left: 8px;
    border-bottom: 4px solid blueviolet;
}

.anchormen6:hover {
    padding-bottom: 0px;
    padding-right: 8px;
    padding-left: 8px;
    border-bottom: 4px solid blueviolet;
}

div .hovermenn6:hover .roww {
    display: flex !important;
    position: fixed;
    top: 85px;
    left: 37px;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 4px grey;
    font-size: 10px;
}

.p-2 {
    margin-top: 5px;
}

.sudio {
    width: 200px;
    height: 90px;
}

.navbar1 {
    position: relative;
    display: flex;
    flex-wrap: nowrap !important;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}